@import "../../globals";

.Button {
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    border: none;
    background-color: $dark;
    color: $light;
    font-size: 1rem;
    cursor: pointer;
    border-radius: $radiusM;
    min-width: 54px;
    height: 54px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $shadowClose;
    transition: $transNormal;

    svg {
        fill: $light;
    }
}

.Button:hover {
    background-color: $offDark;
    box-shadow: none;
    svg {
        fill: $light;
    }
}
