// Colors

$light: #f7f7f7;
$dark: #617d83;
$offDark: #7da2a9;
$mid: #e5e5e5;
$orange: #ff6a3d;
$accentLight: #f4db7d;

// Fonts

$sans: "Noto Sans", sans-serif;

// Padding & Margin

$contentPadding: 1.5rem 3rem;

// Border

$radiusM: 10px;

// Shadows

$shadowClose: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
$shadowLarge: 0px 14px 15px -10px rgba(0, 0, 0, 0.2);

// Transitions

$transNormal: all ease-in-out 0.15s;

// Breakpoints

$s: 600px;
